  <h2>Books</h2>
  <% @book.each do |book| %>
      <table>
        <t.head>
          <tr>
            <th></th>
            <th><strong>Title</strong></th>
            <th><strong>Opinion</strong></th>
          </tr>
        </t.head>

        <t.body>
          <tr>
            <td><span><%= image_tag 'no_image.jpg' %></span></td>
            <td><span><%= link_to book.title, book_path(book.id), class: "show"  %></span></td>
            <td><span><%= book.body %></span></td>
          </tr>
        </t.body>
      </table>

  <% end %>